.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.app__property {
  display: flex;
  flex-direction: column;
}

.app__property-group-title {
  margin: 10px 0;
}
.app__property + .app__property {
  margin-top: 10px;
}

.app__property select {
  width: 100%;
}

.app__bg, .app__canvas {
  position: absolute;
}

.app__logo {
  height: 32px;
}

.app__logo-input {
  display: none;
}
.app__logo-input-label:hover {
  cursor: pointer;
}

.app__body {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.app__action > .button + .button {
  margin-left: 0.6rem;
}
.app__welcome {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__main {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 100%;
  flex: 1;
}
.app__property-panel {
  flex: 320px 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-left: 1px solid #eee;
}
.app__property-list {
  overflow-y: auto;
  flex: 1;
  padding: 16px;
}
.app__remove-logo {
  flex-shrink: 0;
  flex-grow: 0;
  margin: 16px;
  margin-top: auto;
}
.app__text-logo {
  position: absolute;
}

.app__footer {
  padding: 10px;
}
.app__picture {
  width: 250px;
}
.app__property--row {
  flex-direction: row;
}
.app__property--row .app__property:first-child {
  flex: 75% 1 1;
}
.app__property--row .app__property:last-child {
  flex: 25% 1 1;
}
.app__property--row .app__property + .app__property {
  margin-left: 10px;
  margin-top: 0;
}

.app__font {
  display: flex;
  flex-direction: row;
}
.app__font svg {
  flex: 2.5rem 0 0;
  margin-left: 10px;
  fill: #666;
  cursor: pointer;
}
.app__font svg.active {
  fill: steelblue;
}